In [4]:
import pandas as pd
fullCorpus = pd.read_csv('SMSSpamCollection.tsv',sep='\t', header=None)

In [5]:
fullCorpus.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [6]:
fullCorpus.columns=['label','body_text']
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [7]:
#what is the shape of the dataset
print('The dataset has {} rows and {} columns'.format(len(fullCorpus),len(fullCorpus.columns)))

The dataset has 5568 rows and 2 columns

In [11]:
#what is the distribution of labels
print('Out of {} rows, there are {} spam and {} ham'.format(len(fullCorpus)
                                                            ,len(fullCorpus[fullCorpus['label']=='spam'])
                                                            ,len(fullCorpus[fullCorpus['label']=='ham'])))

Out of 5568 rows, there are 746 spam and 4822 ham

In [12]:
#find missing data
print('Number of nulls in labels = {}'.format(fullCorpus['label'].isnull().sum()))
print('Number of nulls in body_text = {}'.format(fullCorpus['body_text'].isnull().sum()))

Number of nulls in labels = 0
Number of nulls in body_text = 0